body {
  background-image: linear-gradient(to right, #BAC8FF, #E9ECEF);
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.todo-container {
  background: #F5F5F5;
  color: #4D4D4D;
}

.todo-header {

}

.todo-input {

}

.todo-container {

}

.todo-list {

}

.todo-item {

}
